@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Oasis</h1>
    <p class="lead">OASIS is an online film ticket booking application which aims to provide user great convenience to search, purchase and manage theatre and tickets with great pleasure. </p>
    <img src="~/Images/face.jpg" alt="Sample Photo" style="height:400px; width:600px; margin-top:1.5em;"/>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="margin-top:1.5em;">What's On &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

       <a class="btn btn-default" href="/home/About">Find theaters</a>

    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>